[submodule "Examples/STM32F4-Echo"]
	path = Examples/STM32F4-Echo
	url = https://github.com/Ali-Mirghasemi/STM32F4-Echo-Stream
[submodule "Examples/STM32F4-ReadLine"]
	path = Examples/STM32F4-ReadLine
	url = https://github.com/Ali-Mirghasemi/STM32F4-ReadLine-Stream
[submodule "Examples/STM32F429-DISCO-Stream"]
	path = Examples/STM32F429-DISCO-Stream
	url = C:\\Works\\Libs\\Embedded-Libs\\Stream\\Examples\\STM32F429-DISCO-Stream
